body {
    margin: 10;
    padding: 0;
  }
  
  .navbar img {
    width: 150px;
    padding: 15px;
  }
  
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav {
    float: none;
    margin: 0;
  }
  
  li {
    display: inline;
    padding: 15px;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding-top: 15px;
  }
  
  nav a:hover {
    color: #00b2b2;
  }
  
  nav a:active {
    font-weight: bold;
  }
  
  @madia screen and (max-width: 700px) {
    nav {
      width: 100%;
      margin-top: -5px;
    }
  
    nav li {
      display: block;
      background-color: #e5e5e5;
      text-align: center;
    }
   }
  
  * {
    font-family: Montserrat, sans-serif;
  }

  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  
 
  .content {
    position: relative;
    bottom: -100;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }
  
 